In [1]:
import pandas as pd

In [8]:
forecast_df = pd.read_csv('forecast.csv')[['date', 'store', 'item', 'forecast']]
test_df = pd.read_csv('test.csv')

In [7]:
forecast_df

              date  store  item   forecast
0       2018-01-01      1     1  17.691709
1       2018-01-02      1     1  15.904649
2       2018-01-03      1     1  17.158710
3       2018-01-04      1     1  15.733811
4       2018-01-05      1     1  15.225072
...            ...    ...   ...        ...
182495  2018-12-27     10    50  70.563776
182496  2018-12-28     10    50  61.609245
182497  2018-12-29     10    50  64.179126
182498  2018-12-30     10    50  62.749123
182499  2018-12-31     10    50  67.359514

[182500 rows x 4 columns]

In [20]:
submission_df = pd.merge(test_df, forecast_df, how='inner', on=['date', 'store', 'item'])[['id', 'forecast']]
submission_df.rename(columns={'forecast':'sales'}, inplace=True)
submission_df.sales = submission_df.sales.astype('int32')
submission_df.set_index(['id'], inplace=True)

In [21]:
submission_df.to_csv('submission_arima_basic.csv')